header
	h1
		a(href="/")= pkg.name
	if (req.isAuthenticated())
		li
			a(href="/users/"+req.user.id, title="Profile") Profile
			img(src=req.user.google.picture)
		li
			a(href="/logout", title="logout") Logout
	else
		li
			a(href="/auth/google", title="Login") Login with Google
